*{
    box-sizing: border-box;
}

.navbar{
    position: absolute;
}



.carousel{
    position: absolute;
    margin-left: 150px;
    margin-top: 50px;
    width: 1000px;
}

.contenedor-galeria{
    position: absolute;
    /* background-color: red; */
    height: 240px;
    width: 850px;
    margin-left: 250px;
    margin-top: 50px;
}



.img1{
    width: 150px;
    /* margin-top: 100px; */
}


.img2{
    width: 150px;
    margin-top: -255px;
    margin-left: 170px;
    /* margin-top: 100px; */
}

.img3{
    width: 150px;
    margin-top: -305px;
    margin-left: 340px;
    /* margin-top: 100px; */
}

.img4{
    width: 150px;
    margin-top: -355px;
    margin-left: 510px;
    /* margin-top: 100px; */
}

.img5{
    width: 150px;
    margin-top: -405px;
    margin-left: 680px;
    /* margin-top: 100px; */
}

.parrafos1{
    position: absolute;
    margin-top: 300px;
    margin-left: 270px;
}

.parrafos2{
    position: absolute;
    margin-top: 300px;
    margin-left: 430px;
}


.parrafos3{
    position: absolute;
    margin-top: -80px;
    margin-left: 170px;
}

.parrafos3{
    position: absolute;
    margin-top: -80px;
    margin-left: 170px;
}

.parrafos4{
    position: absolute;
    margin-top: -80px;
    margin-left: 170px;
}

.parrafos5{
    position: absolute;
    margin-top: -80px;
    margin-left: 170px;
}




.contenedor-galeria2{
    position: absolute;
    /* background-color: red; */
    height: 240px;
    width: 850px;
    margin-left: -690px;
    margin-top: 50px;
}


.parrafos6{
    position: absolute;
    margin-top: 300px;
    margin-left: -690px;
}

.parrafos7{
    position: absolute;
    margin-top: 300px;
    margin-left: -510px;
}


.parrafos8{
    position: absolute;
    margin-top: -80px;
    margin-left: 170px;
}

.parrafos9{
    position: absolute;
    margin-top: -80px;
    margin-left: 170px;
}

.parrafos10{
    position: absolute;
    margin-top: -80px;
    margin-left: 170px;
}

.contenedor-footer{
    width: 100%;
    background-color: red;
    margin: 0;
    margin-top: 40px;
}
.footer{
    position: absolute;
    margin: 0;
    /* background-color: #212121; */
    color: white;
    text-align: center;
    width: 100%;
}